// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Text Color
$light-color:       #FFFFFF;            // Light Color
$dark-color-1:      #686868;            // Semi-Dark Color
$dark-color-2:      #282828;            // Dark Color

// Button Color
$button-color: 		#000031;

// Background-color
$background-1:      #FFFFFF;            // Mostly Used Light Background Color

// Other Defult Color
$shadow-color:      #000000;

// Defult Broder Radius
$border-radius:     4px;



