// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// including variables and mixins
@import "theme/variables";
@import "theme/mixins";
@import "theme/flexbox";
@import "theme/reset";
@import "theme/predefined";

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';




// Custom Scss 
@import "theme/elements";
@import "theme/header";
@import "theme/home";
@import "theme/pages";
@import "theme/blog";
@import "theme/footer";

// Bootstrap

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');



#navigationWrap {
    display: none;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: black;
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 50px 0;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    color: white;
    font-size: 5vh;
    text-transform: uppercase;
    overflow: hidden;
    font-weight: 700;
}
nav ul li:first-child {
    font-size: 8vh;
    overflow: visible;
}
@media (max-width: 750px) {
    nav ul li {
        font-size: 15vw;
   }
    nav ul li:first-child {
        font-size: 8vw;
   }
}
nav a {
    color: white;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    text-decoration: none;
}
nav a:hover {
    color:#F24738;
}
.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    z-index: 20;
    cursor: pointer;
}
.close {
    display: none;
    opacity: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    z-index: 20;
    cursor: pointer;
}
.social a {
    color: #484848;
    color: white;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    text-decoration: none;
}
.social a:hover {
    color:#F24738;
}
.fa {
    color: #484848;
    padding-right: 12px;
    font-size: 1.8em !important;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.fa:hover {
    color:#F24738;
}


.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 820px;
}



.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  margin-bottom: 35px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
    flex:0 1 calc(31% - 1em);
        position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

@media screen and (max-width: 700px) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      flex: 1 50%;
      
      }
}