// ============= Start Aboutus Page Styles  =============  //


//--------- Start Aboutus Area style -------------//

.link-nav{
	margin-top:10px;
}

.about-content{
	margin-top: 120px;
	padding: 120px 0px;	
	text-align:center;
	h1{
		font-size: 48px;
		font-weight:600;
	}
	a{
		color:$white;
		font-weight:300;
		font-size:14px;
	}
	.lnr{
		margin:0px 10px;
		font-weight:600;
	}	
}

.aboutus-about{
	background: $white!important;
}

.aboutus-cat{
	background: $offwhite!important;
}

.aboutus-feedback{
	background:$white;

}


//--------- End Aboutus Area style -------------//

// ============= Start contact Page Styles  =============  //

.contact-page-area{
	.map-wrap{
		margin-bottom:120px;
		@media(max-width:960px){
			margin-bottom:50px;	
		}
	}

	.contact-btns{
		font-size:18px;
		font-weight:600;
		text-align:center;
		padding:40px;
		color:$white;
		margin-bottom:30px;
		&:hover{
			color:$white;
		}
	}

	.form-area{
		input{
			padding: 15px;		
		}
		input,textarea{
			border-radius:0;
			font-size:12px;
			line-height: 1.2;
		}
		textarea{
			height: 178px;
			margin-top: 0px;
		}

		.primary-btn{
			@include transition();
			&:hover{
				border:1px solid $primary-color;
				color:$primary-color!important;
			}
		}
	}

	@media(max-width: 960px){
		.address-wrap{
			margin-bottom: 50px;
		}
	}


	.single-contact-address {
		margin-bottom:20px;
		h5{
			font-weight:600;
			font-size:16px;
			margin-bottom:5px;
		}	
		.lnr{
			font-size:30px;
			font-weight:500;
			color:$primary-color;
			margin-right:30px;
		}
	}

}


// ============= End contact Page Styles  =============  //




/*
################
               Start Blog Home  Page style
################
*/



//--------- Start Blog Banner Area Style-------------//

.blog-banner-area{
	background:url( /storage/img/elements/blog/blog-banner.jpg) center;
	background-size:cover;
	.overlay-bg{
		background:rgba(#000,.55);
	}
}

.blog-banner-wrap{
	text-align:center;
}


//--------- End Blog Banner Area Style-------------//


//--------- Start Blog Post Area Style-------------//

.blog-posts-area{
	
}

.blog-post-list{
	.single-post{
		background:transparent;
		padding:0px 30px;
	}
}


.single-post{
	margin-bottom:30px;
	.tags{
		margin-top:40px;	
		li{
			display:inline-block;
			a{
				color:$black;	
			}
			&:hover{
				a{
					color:$primary-color;
				}
			}
		}
	}
	h1{
		margin-top:20px;
		margin-bottom:20px;	
	}

	.title{
		// margin-left:20px;
		h4{
			margin-bottom:10px;
		}
	}

	.comment-wrap,.social-wrap{
		ul li{
			display:inline-block;
			margin-right:15px;
		}
		@media(max-width: 414px){
			margin-top:10px;
		}
	}
	.comment-wrap{
		ul li a{
			color:$text-color;
		}
	}
	.social-wrap{
		ul{
			text-align:right;
			li a i{
				color:$text-color;
				&:hover{
					color:$black;
				}
			}		
			@media(max-width: 768px){
				text-align:left;
			}
		}

	}
}


//--------- End Blog Post Area Style-------------//


//--------- Start sidebar Area Style-------------//

.single-widget{
	border:1px solid #eee;
	padding:40px 30px; 
	margin-bottom:30px;
	.title{
		font-weight:600;
		margin-bottom:30px;
	}	
}


.search-widget{
	i{
		color:$primary-color;
	}
	form.example{
		border:1px solid #eee;
	}

	form.example input[type=text] {
	    padding: 10px;
	    font-size: 14px;
	    border: none;
	    float: left;
	    width: 80%;
	    background: #eee;
	}

	form.example button {
	    float: left;
	    width: 20%;
	    padding: 10px;
	    background: #eee;
	    color: white;
	    font-size: 17px;
	    border: none;
	    cursor: pointer;
	}

	form.example::after {
	    content: "";
	    clear: both;
	    display: table;
	}	
}

.protfolio-widget{
	text-align:center;
	h4{
		padding:20px 0; 
	}
	ul li{
		padding:15px;
		display:inline-block;;
		a i{
			color:$black;

			&:hover{
				color:$primary-color;
			}
		}
	}
}	


.category-widget{
	ul{
		li{
			border-bottom:1px solid #eee;
			padding:10px 20px;	
			h6{
				font-weight:300;
				@include transition();
			}
			span{
				color:$black;
				@include transition();
			}
			@include transition();
			&:hover{
				border-color:$primary-color;

				h6,span{
					color:$primary-color;
				}
			}	
		}
	}
}


.tags-widget{
	ul{
		li{
			display:inline-block;
			background:$white;
			border:1px solid #eee;
			padding:8px 10px;
			margin-bottom:8px;
			@include transition();
			a{
				font-weight:300;
				color:$black;
			}
			&:hover{
				background-color:$primary-color;
				a{
					color:$white;
				}
			}
		}
	}
}

.recent-posts-widget{
	.single-recent-post{
		.recent-details{			
			margin-left:20px;
			h4{
				line-height:1.5em !important;
				font-size:14px;
				@include transition();
			}
			p{
				margin-top:10px;
			}
		}
		&:hover{
			h4{
				color:$primary-color;
			}
		}
		@media(max-width: 960px){
			margin-bottom:20px;
		}
	}

}


//--------- End sidebar Area Style-------------//



/*
################
               End Blog Home  Page style
################
*/


/*
################
               Start Blog Details  Page style
################
*/


.nav-area{
	border-bottom: 1px solid #eee;
	a{
		color:$black;
	}
	.nav-left{
		.thumb{
			padding-right: 20px;
		}
	}
	.nav-right{
		text-align:right;
			.thumb{
				padding-left: 20px;
			}		
	}

	@media(max-width:768px){
		.post-details h4{
			font-size: 14px;
		}

	}

	@media(max-width:466px){
		.nav-right{
			margin-top:50px;
		}
	}
}

.comment-sec-area{
	border-bottom:1px solid #eee;
	padding-bottom:50px;
	a{
		color:$black;
	}
	.comment-list{
		padding-bottom:30px;
		&.left-padding{
			padding-left:25px;
		}
	}

	.thumb{
		margin-right:20px;
	}
	.date{
		font-size:13px;
		color:#cccccc;
	}
	.comment{
		color:#777777;
	}
	.btn-reply{
		background-color:$black;
		color: $white;	
		border:1px solid $black;
		padding: 8px 30px;	
		display:block;
		@include transition();
		&:hover{
			background-color:transparent;
			color: $black;
		}	
	}
}

.commentform-area{
	h5{
		font-weight:600!important;
	}
	.form-control{
		border-radius:0;
		font-size: 14px;
		font-weight:400;
	}
	textarea{
		height:90%;
	}
	padding-bottom:100px;
	
	.form-control{
		border:none;
		background:$offwhite;
	}
}




/*
################
               End Blog Details  Page style
################
*/






